Repository zer0Kerbal/EternoRest2000, pull requests merged in 2022-10, with the labels that each got.

#44 ✨ New Norwegian translation
  GameData/EternoRest2000/Localization/no-no.cfg
Labels: type: localization, state: approved, hacktoberfest-accepted

#45 Version 1.2.99.0-release `<Thank you Aphtonites, Acea_ and tplive>`
  EternoRest2000.version
  GPL-2.0.txt
  GameData/EternoRest2000/1.2.0.0.htm
  GameData/EternoRest2000/1.2.99.0.htm
  GameData/EternoRest2000/Assets/coffin00.dds
  GameData/EternoRest2000/Assets/spacecoffin.mu
  GameData/EternoRest2000/Attributions.htm
  GameData/EternoRest2000/Compatibility/KerbalAttachmentSystem.cfg
  GameData/EternoRest2000/EternoRest2000.version
  GameData/EternoRest2000/GPL-2.0.txt
  GameData/EternoRest2000/Localization/en-us.cfg
  GameData/EternoRest2000/Localization/no-no.cfg
  GameData/EternoRest2000/Localization/quickstart.md
  GameData/EternoRest2000/Localization/readme.md
  GameData/EternoRest2000/Parts/rest-spacecoffin.cfg
  GameData/EternoRest2000/Parts/spaceCoffin/model.mu
  GameData/EternoRest2000/Parts/spaceCoffin/part.cfg
  GameData/EternoRest2000/archivechanged.txt
  GameData/EternoRest2000/changelog.md
  GameData/EternoRest2000/readme.htm
  changelog.md
  docs/@thumbs/rest-spacecoffin_icon.png
  docs/Attributions.md
  docs/Localizations.md
  docs/PartsCatalog.md
  docs/ReleaseNotes/1.2.99.0.md
  docs/changelog.md
  json/ksp.json
  json/mod.json
  readme.md
  unlicense.txt
Labels: semantic: adoption, type: localization

#47 Contract to Launch a dead crew member into space
  GameData/EternoRest2000/Contracts/InterSidera/Flags/intersidera.dds
  GameData/EternoRest2000/Contracts/InterSidera/InterSidera.cfg
  GameData/EternoRest2000/Contracts/InterSidera/intersidera_scaled.dds
Labels: issue: config, type: enhancement, type: feature, state: approved, hacktoberfest-accepted

#54 Contract Update
  GameData/EternoRest2000/Contracts/InterSidera/InterSidera.cfg
Labels: bug 🐛, issue: config, type: fix, state: approved, hacktoberfest-accepted

#58 Version 1.3.0.1-release `<Fine Print>`
  EternoRest2000.version
  GameData/EternoRest2000/1.3.0.1.htm
  GameData/EternoRest2000/Contracts/InterSidera/InterSidera.cfg
  GameData/EternoRest2000/EternoRest2000.version
  GameData/EternoRest2000/changelog.md
  GameData/EternoRest2000/readme.htm
  changelog.md
  docs/ReleaseNotes/1.3.0.0.md
  docs/ReleaseNotes/1.3.0.1.md
  docs/changelog.md
  json/mod.json
Labels: semantic: release, hacktoberfest-accepted
